.cover__subtitle {
    max-width: 360px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-align: center;
    margin-top: 32px;
}


@media (max-width: 730px) {
    .cover__subtitle {
        max-width: 90%;
        margin-bottom: 0px;
        margin-top: 16px;
    }
}


@media (max-width: 320px) {
    .cover__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
}