.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}


@media (max-width: 320px) {
    .intro__title {
        font-weight: 900;
        font-size: 37px;
        line-height: 35px;
    }
}